/* ì´ˆê¸°í™” */
* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans CJK KR";
  }
  
  ul,
  ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #111;
  }
  input,
  textarea {
    outline: none;
  }
  
  #wrapper {
    width: 100%;
  }
  
  /* í—¤ë”ì˜ì—­ */
  header {
    width: 100%;
    height: auto;
  }
  
  header > div {
    width: 100%;
    box-sizing: border-box;
  }
  
  header > .top {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
  }
  
  header > .top > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  
  header > .top > div > p {
    float: right;
    margin-top: 8px;
  }
  
  header > .top > div > p > a {
    font-size: 12px;
    color: #555;
    margin-right: 10px;
  }
  
  header > .top > div a:hover {
    color: #333;
    border-bottom: 1px solid #555;
  }
  header > .logo {
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
  }
  header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
  }
  header > .logo img {
    vertical-align: bottom;
    margin-right: 10px;
  }
  header > .logo a {
    font-size: 30px;
    font-weight: bold;
  }
  
  /* ë©”ì¸ */
  #cs {
    width: 100%;
    height: auto;
  }
  
  #cs > .main {
    width: 100%;
    height: auto;
  }
  
  #cs > .main > .title {
    font-size: 56px;
    text-align: center;
    margin: 60px 0;
    color: #222;
  }
  
  #cs > .main > .title > strong {
    font-size: 56px;
    color: #45ad4a;
  }
  
  #cs > .main > section {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 36px;
    border-top: 1px solid #e9e9e9;
    padding-top: 10px;
    box-sizing: border-box;
  }
  
  #cs > .main > section > h1 {
    font-size: 22px;
    font-weight: bold;
  }
  
  #cs > .main > section > h1 > a {
    float: right;
  
    font-size: 14px;
    margin-top: 6px;
    color: #555;
  }
  
  #cs > .main > section > h1 > a::after {
    display: inline-block;
    width: 18px;
    height: 18px;
    content: "";
    background: url("../images/cs_sprites.png") no-repeat;
    background-position: -230px -276px;
    background-size: 750px auto;
    vertical-align: top;
    margin-left: 6px;
  }
  #cs > .main > section > ul {
  }
  #cs > .main > section > ul > li {
    text-indent: 10px;
    margin-top: 12px;
  }
  #cs > .main > section > ul .title {
    font-size: 18px;
  }
  
  #cs > .main > section > ul > li > p {
    float: right;
    margin-right: 10px;
  }
  #cs > .main > section > ul .uid {
    margin-right: 10px;
  }
  #cs > .main > section > ul .date {
    color: #777;
  }
  
  #cs > .main > .faq > ol {
    width: 1000px;
    height: auto;
    margin: 60px auto;
    overflow: hidden;
  }
  #cs > .main > .faq > ol > li {
    float: left;
    width: 14.28%;
    height: 128px;
    text-align: center;
  }
  #cs > .main > .faq > ol > li > a {
    display: inline-block;
    width: 90px;
    height: 90px;
    box-sizing: border-box;
    text-align: center;
    background-image: url("../images/cs_sprites.png");
    background-repeat: no-repeat;
    background-size: 750px auto;
  }
  #cs > .main > .faq > ol > li span {
    position: relative;
    top: 100px;
    font-size: 14px;
  }
  
  #cs > .main > .faq > ol > li:nth-child(1) > a {
    background-position: 0 0;
  }
  #cs > .main > .faq > ol > li:nth-child(2) > a {
    background-position: -184px 0px;
  }
  #cs > .main > .faq > ol > li:nth-child(3) > a {
    background-position: -92px 0px;
  }
  #cs > .main > .faq > ol > li:nth-child(4) > a {
    background-position: -276px 0;
  }
  #cs > .main > .faq > ol > li:nth-child(5) > a {
    background-position: -368px 0px;
  }
  #cs > .main > .faq > ol > li:nth-child(6) > a {
    background-position: -92px -485px;
  }
  #cs > .main > .faq > ol > li:nth-child(7) > a {
    background-position: -644px 0px;
  }
  
  #cs > .main > .faq > ol > li:nth-child(1) > a:hover {
    background-position: 0 -92px;
  }
  #cs > .main > .faq > ol > li:nth-child(2) > a:hover {
    background-position: -184px -92px;
  }
  #cs > .main > .faq > ol > li:nth-child(3) > a:hover {
    background-position: -92px -92px;
  }
  #cs > .main > .faq > ol > li:nth-child(4) > a:hover {
    background-position: -276px -92px;
  }
  #cs > .main > .faq > ol > li:nth-child(5) > a:hover {
    background-position: -368px -92px;
  }
  #cs > .main > .faq > ol > li:nth-child(6) > a:hover {
    background-position: -92px -577px;
  }
  #cs > .main > .faq > ol > li:nth-child(7) > a:hover {
    background-position: -644px -92px;
  }
  
  #cs > .main > .qna > .ask {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
    color: #0078ff;
  }
  
  #cs > .main > .tel {
    overflow: hidden;
  }
  #cs > .main > .tel > article {
    float: left;
    width: 50%;
    height: 300px;
    padding: 16px;
    box-sizing: border-box;
  }
  
  #cs > .main > .tel > article > div {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  #cs > .main > .tel > article h3 {
    font-size: 20px;
    font-weight: bold;
    color: #111;
    margin-bottom: 12px;
  }
  
  #cs > .main > .tel > article p {
    margin-bottom: 16px;
  }
  
  #cs > .main > .tel > article span {
    font-size: 14px;
  }
  #cs > .main > .tel > article strong {
    font-size: 26px;
    font-weight: bold;
    margin-right: 6px;
  }
  
  #cs > .main > .tel > article a {
    font-size: 26px;
    font-weight: bold;
    margin-right: 6px;
  }
  
  /* í‘¸í„°ì˜ì—­ */
  footer {
    width: 100%;
    height: 192px;  
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
  }
  footer > ul > li {
    display: inline-block;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
  }
  footer > ul > li:first-child {
    border-left: 1px solid #d7d7d7;
  }
  
  footer > div {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
  }
  
  footer p {
    float: left;
    height: 100%;
    font-size: 12px;
    line-height: 18px;
    color: #676767;
  }
  footer p:nth-of-type(2) {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  footer p > strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 14px;
    font-weight: bold;
  }
  
  /* ë²„íŠ¼ ê³µí†µ */
  .btnWrite {
    float: right;
    padding: 10px 20px;
    text-align: center;        
    margin-top: -48px;
    background-color: #067dfd;
    border: 1px solid #0063ce;
    border-radius: 2px;
    font-size: 20px;
    color: #fff;
    box-sizing: border-box;
  }
  
  .btnList {
    display: inline-block;
    width: 200px;
    height: 60px;
    margin: 40px auto 0;
    border: 1px solid #ccc;
    border-radius: 34px;
    font-size: 16px;
    color: #000;
    line-height: 58px;
    text-align: center;
    box-sizing: border-box;
  }
  .btnList:hover {
    background-color: #f7f7f7;
  }
  
  .btnSubmit {
    display: inline-block;
    width: 200px;
    height: 60px;
    margin: 40px auto 0;
    background-color: #067dfd;
    border: 1px solid #0063ce;  
    border-radius: 34px;
    font-size: 16px;
    color: #fff;
    line-height: 58px;
    text-align: center;
    box-sizing: border-box;
  }
  .btnSubmit:hover {
    background-color: #0954f6;
  }
  
  
  /* ê³ ê°ì„¼í„° sub ê³µí†µ */
  
  #cs > div > section > article > nav {
    width: 100%;
    height: auto;
    margin-bottom: 26px;
  }
  #cs > div > section > article > nav > h1 {
    font-size: 26px;
    font-weight: bold;
  }
  #cs > div > section > article > nav > h2 {
    font-size: 20px;
  }
  
  /* notice ê³µí†µ */
  #cs > .notice {
  }
  
  #cs > .notice > nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .notice > nav > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  
  #cs > .notice > nav p {
    float: left;
    margin-top: 16px;
    font-size: 16px;
  }
  
  #cs > .notice > nav p > span {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #777;
  }
  
  #cs > .notice > section {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #cs > .notice > section > aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .notice > section > article {
    float: right;
    width: 980px;
    min-height: 600px;
  }
  
  #cs > .notice > section > aside > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 26px 0;
  }
  
  #cs > .notice > section > aside > ul {}
  #cs > .notice > section > aside > ul > li {
    margin-bottom: 16px;
  }
  #cs > .notice > section > aside > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
  }
  #cs > .notice > section > aside > ul > li > a:hover {
    color: #111;
    text-decoration: underline;
  }
  #cs > .notice > section > aside > ul > .on > a {
    color: #111;
    text-decoration: underline;
  }
  
  #cs > .notice > section > article {
    padding: 26px;
    box-sizing: border-box;
  }
  
  
  /* notice - ê¸€ëª©ë¡ */
  #cs > .notice > .list > article > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
  }
  #cs > .notice > .list > article > table tr {
    width: 100%;
    height: 26px;
  }
  #cs > .notice > .list > article > table tr:hover {
    background-color: #f7f7f7;
  }
  #cs > .notice > .list > article > table td {
    padding: 16px;
    border-bottom: 1px solid #ccc;
  }
  #cs > .notice > .list > article > table td:last-child {
    text-align: center;
    font-size: 14px;
  }
  #cs > .notice > .list > article > table a {
    font-size: 16px;
  }
  
  #cs > .notice > .list > article > .page {
    text-align: center;
    margin-top: 26px;
  }
  #cs > .notice > .list > article > .page > a {
    display: inline-block;
    width: 34px;
    height: 34px;        
    box-sizing: border-box;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    font-weight: bold;        
    vertical-align: bottom;
  }
  #cs > .notice > .list > article > .page > .prev {
    font-size: 0;
    background-image: url('../images/cs_sprites.png');
    background-position: -706px -652px;
  }
  #cs > .notice > .list > article > .page > .next {
    font-size: 0;
    background-image: url('../images/cs_sprites.png');
    background-position: -628px -652px;
  }
  #cs > .notice > .list > article > .page > .num {}
  #cs > .notice > .list > article > .page > .on {
    background: #006cff;
    border-radius: 17px;
    color: #fff;
  }
  
  /* notice - ê¸€ë³´ê¸° */
  #cs > .notice > .view {}
  #cs > .notice > .view > article {}
  #cs > .notice > .view > article > nav {
    width: 100%;
    height: auto;
    padding: 26px;
    border-top: 2px solid #111;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .notice > .view > article > nav > .title {
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: bold;
  }
  
  #cs > .notice > .view > article > nav > .date {        
    font-size: 14px;
    color: #777;        
  }
  
  #cs > .notice > .view > article > .content {
    width: 100%;
    height: 100%;        
    border-bottom: 1px solid #e9e9e9;
    padding: 26px;
    box-sizing: border-box;
  }
  
  #cs > .notice > .view > article > .content * {
    font-size: 16px;
    line-height: 32px;
  }
  
  
  
  
  /* faq ê³µí†µ */
  #cs > .faq {}
  #cs > .faq > nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .faq > nav > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  
  #cs > .faq > nav p {
    float: left;
    margin-top: 16px;
    font-size: 16px;
  }
  
  #cs > .faq > nav p > span {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #777;
  }
  
  #cs > .faq > section {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #cs > .faq > section > aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .faq > section > article {
    float: right;
    width: 980px;
    min-height: 600px;
  }
  
  #cs > .faq > section > aside > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 26px 0;
  }
  
  #cs > .faq > section > aside > ul {}
  #cs > .faq > section > aside > ul > li {
    margin-bottom: 16px;
  }
  #cs > .faq > section > aside > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
  }
  #cs > .faq > section > aside > ul > li > a:hover {
    color: #111;
    text-decoration: underline;
  }
  #cs > .faq > section > aside > ul > .on > a {
    color: #111;
    text-decoration: underline;
  }
  
  #cs > .faq > section > article {
    padding: 26px;
    box-sizing: border-box;
  }
  
  /* faq - ê¸€ëª©ë¡ */
  #cs > .faq > .list > article > div {
    margin-top: 26px;
  }
  #cs > .faq > .list > article > div > h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 6px;
  }
  #cs > .faq > .list > article > div > ul {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  #cs > .faq > .list > article > div > ul > li {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
  }    
  
  #cs > .faq > .list > article > div > ul > li:nth-child(n+4) {
    display: none;
  }
  
  #cs > .faq > .list > article > div > ul a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 16px;
    font-size: 16px;       
    border-radius: 6px; 
    box-sizing: border-box;
  }
  
  #cs > .faq > .list > article > div > ul a:hover {
    background: #f7f7f7;
  }
  
  #cs > .faq > .list > article > div > ul span {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #006cff;
    margin-right: 6px;
  }
  
  #cs > .faq > .list > article > div > ul > .more {
    display: block !important;
    border-bottom: none;
    text-align: center;
  }
              
  /* faq - ê¸€ë³´ê¸° */
  #cs > .faq > .view {}
  #cs > .faq > .view > article {}
  #cs > .faq > .view > article > nav {
    width: 100%;
    height: auto;
    padding: 26px;
    border-top: 2px solid #111;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .faq > .view > article > nav > .title {
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: bold;
  }
  
  #cs > .faq > .view > article > nav > .title > span {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: #006cff;
    margin-right: 6px;
  }
  
  #cs > .faq > .view > article > nav > .date {        
    font-size: 14px;
    color: #777;        
  }
  
  #cs > .faq > .view > article > .content {
    width: 100%;
    height: 100%;        
    border-bottom: 1px solid #e9e9e9;
    padding: 26px;
    box-sizing: border-box;
  }
  
  #cs > .faq > .view > article > .content * {
    font-size: 16px;
    line-height: 32px;
  }
  
  /* qna ê³µí†µ */
  #cs > .qna {}
  #cs > .qna > nav {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .qna > nav > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  
  #cs > .qna > nav p {
    float: left;
    margin-top: 16px;
    font-size: 16px;
  }
  
  #cs > .qna > nav p > span {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 10px;
    color: #777;
  }
  
  #cs > .qna > section {
    position: relative;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  
  #cs > .qna > section > aside {
    position: absolute;
    left: 0;
    top: 0;
    width: 220px;
    height: 100%;
    border-right: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .qna > section > article {
    float: right;
    width: 980px;
    min-height: 600px;
  }
  
  #cs > .qna > section > aside > h2 {
    font-size: 24px;
    font-weight: bold;
    margin: 26px 0;
  }
  
  #cs > .qna > section > aside > ul {}
  #cs > .qna > section > aside > ul > li {
    margin-bottom: 16px;
  }
  #cs > .qna > section > aside > ul > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #9e9e9e;
  }
  #cs > .qna > section > aside > ul > li > a:hover {
    color: #111;
    text-decoration: underline;
  }
  #cs > .qna > section > aside > ul > .on > a {
    color: #111;
    text-decoration: underline;
  }
  
  #cs > .qna > section > article {
    padding: 26px;
    box-sizing: border-box;
  }
  
  /* qna - ê¸€ëª©ë¡ */
  #cs > .qna > .list > article > table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
  }
  #cs > .qna > .list > article > table tr {
    width: 100%;
    height: 26px;
  }
  #cs > .qna > .list > article > table tr:hover {
    background-color: #f7f7f7;
  }
  #cs > .qna > .list > article > table td {
    padding: 16px;
    border-bottom: 1px solid #ccc;
  }
  #cs > .qna > .list > article > table td:last-child {
    text-align: center;
    font-size: 14px;
  }
  #cs > .qna > .list > article > table a {
    font-size: 16px;
  }
  
  #cs > .qna > .list > article > .page {
    text-align: center;
    margin-top: 26px;
  }
  #cs > .qna > .list > article > .page > a {
    display: inline-block;
    width: 34px;
    height: 34px;        
    box-sizing: border-box;
    text-align: center;
    line-height: 34px;
    font-size: 13px;
    font-weight: bold;        
    vertical-align: bottom;
  }
  #cs > .qna > .list > article > .page > .prev {
    font-size: 0;
    background-image: url('../images/cs_sprites.png');
    background-position: -706px -652px;
  }
  #cs > .qna > .list > article > .page > .next {
    font-size: 0;
    background-image: url('../images/cs_sprites.png');
    background-position: -628px -652px;
  }
  #cs > .qna > .list > article > .page > .num {}
  #cs > .qna > .list > article > .page > .on {
    background: #006cff;
    border-radius: 17px;
    color: #fff;
  }
  
  /* qna - ê¸€ë³´ê¸° */
  #cs > .qna > .view {}
  #cs > .qna > .view > article {}
  #cs > .qna > .view > article > nav {
    width: 100%;
    height: auto;
    padding: 26px;
    border-top: 2px solid #111;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  #cs > .qna > .view > article > nav > .title {
    margin-bottom: 6px;
    font-size: 32px;
    font-weight: bold;
  }
  
  #cs > .qna > .view > article > nav > .date {        
    font-size: 14px;
    color: #777;        
  }
  
  #cs > .qna > .view > article > .content {
    width: 100%;
    height: 100%;        
    border-bottom: 1px solid #e9e9e9;
    padding: 26px;
    box-sizing: border-box;
  }
  
  #cs > .qna > .view > article > .content * {
    font-size: 16px;
    line-height: 32px;
  }
  
  /* qna - ê¸€ì“°ê¸° */
  #cs > .qna > .write > article table {
    width: 100%;
    border-collapse: collapse;
    border-top: 2px solid #111;
  }
  #cs > .qna > .write > article table tr {
    width: 100%;
    height: 26px;
  }
  
  #cs > .qna > .write > article table td {
    padding: 16px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;        
  }
  
  #cs > .qna > .write > article table td:first-child {
    width: 100px;
  }
  
  #cs > .qna > .write > article table input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
    text-indent: 10px;
  }
  
  #cs > .qna > .write > article table select {
    width: 100px;
    height: 40px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  #cs > .qna > .write > article table select * {
    font-size: inherit;
  }
  
  #cs > .qna > .write > article table textarea {
    width: 100%;
    height: 360px;
    resize: none;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
  }

#cs > div {
	display: flex;
}
  
#cs > .csMainContainer  {
	
	display: flex;
}

#cs > .csMainContainer > div.d-flex.flex-column.flex-shrink-0.p-3.bg-light{
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: flex-start;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
	margin-left: auto;
	margin-right: auto;
}

#cs > .csMainContainer>div>div>div  select{
	color: #52565b;
    border: 1px solid #ced4da; 
}

#cs > .csMainContainer>div>div>div {
	justify-content: flex-end;
	
}

#cs > .csMainContainer>div>div>div> .btn {
    position: relative;
}

#cs > .csMainContainer>div>ul {
	justify-content: center;
	align-content: center;
}
 .nav-item {
    /* 기본 가로 크기 설정 */
    width: 250px;
  }

  @media (max-width: 768px) {
    /* 화면 너비가 768px 이하일 때 적용되는 스타일 */
    .nav-item {
      width: 100px;
    }
  }

  @media (max-width: 576px) {
    /* 화면 너비가 576px 이하일 때 적용되는 스타일 */
    .nav-item {
      width: 80px;
    }
  }

.panel-cs-container {
  margin-bottom: -16px;
}
.panel-cs-title {
  color: #06BBCC;
  font-weight: bold;
  cursor: pointer;
}
.panel-cs-answer {
  height: 0;
  overflow: hidden;
  /* 변화가 시작되는 쪽에다가 transition 적용해준다 0 -> 300px 
  왜? 닫기 버튼을 누를 때 변화가 티남 */
  transition: all 1s;
}
#btn-all-close {
  margin-bottom: 10px;
  background-color: #06BBCC;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px 25px;
  float: right;
}
#btn-all-close:hover {
  background-color: #181d38;
  color: white;
  transition: all 0.35s;
}
.activeFaq {
  display: block;
  /* 높이를 정해줘야지만 transition이 적용됨 */
	height: 300px;
}

#btn-insert{
	float: right;
	margin-top: 20px;
}
#cs > div > div.container > div:nth-child(3) {
	float: right;
	margin-right : 10px;
}


