<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.library.bookhub.repository.cs.CsNoticeRepository">

	<!-- 공지사항 리스트 조회 -->
	<select id="selectCsNoticeList"
		resultType="com.library.bookhub.entity.cs.CsNoticeEntity">
		select * from bh_cs_notice order by #{id} desc;
	</select>

	<!-- 공지사항 상세보기 -->
	<select id="noticeView"
		resultType="com.library.bookhub.entity.cs.CsNoticeEntity">
		SELECT * FROM bh_cs_notice WHERE id = #{id};
	</select>

	<!-- 페이징 처리 쿼리 -->
	<select id="findAllwithPasing"
		resultType="com.library.bookhub.entity.cs.CsNoticeEntity">
		select * from bh_cs_notice
		limit #{limit} offset #{offset}
	</select>
	
	<!-- 전체 데이터 개수 쿼리 -->
	<select id="getAllPgCount" resultType="int">
		select count(*) from bh_cs_notice
	</select>

</mapper>