<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.library.bookhub.repository.cs.CsQnaRepository"> 

	<!-- 문의하기 리스트 조회  -->
	<select id="selectCsQnaList"
		resultType="com.library.bookhub.entity.cs.CsQnaEntity">
		select * from bh_cs_qna order by #{id} desc;
	</select>

	<!-- 문의하기 작성하기  -->
	<insert id="qnaInsert">
  	INSERT INTO bh_cs_qna (`title`,`content`,`rdate`) 
  	VALUES (#{title}, #{content}, now());
  	</insert>

	<!-- 문의하기 상세보기 -->
	<select id="qnaView" resultType="com.library.bookhub.entity.cs.CsQnaEntity">
  	SELECT * FROM bh_cs_qna WHERE id = #{id}; 
  	</select>

</mapper>