<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.library.bookhub.repository.cs.CsQnaReplyRepository">

	<!-- QnaReply 리스트 조회 -->
	<select id="selectCsQnaReplyList"
		resultType="com.library.bookhub.entity.cs.CsQnaReplyEntity">
		select * from bh_cs_qna_reply order by #{qnaId} desc;
	</select>

	<!-- QnaReply 작성하기 -->
	<insert id="qnaReplyInsertAndUpdateQna">
		INSERT INTO bh_cs_qna_reply (content, rdate, writer, qnaId)
		VALUES (#{content}, now(), #{writer}, #{qnaId});
	</insert>

	<!-- QnaReply 삭제하기 -->
	<delete id="qnaReplyDelete">
		delete from bh_cs_qna_reply where qnaId = #{qnaId};
	</delete>
	
	<!-- QnaReply 상세보기 -->
	<select id="qnaReplyView"
		resultType="com.library.bookhub.entity.cs.CsQnaReplyEntity">
		SELECT * FROM bh_cs_qna_reply where qnaId = #{qnaId};
	</select>

</mapper>